# -*- conf -*-

[submodule "HOME/.emacs.d"]
	path = emacs
	url = https://github.com/Ferk/emacs.d.git
	fetchRecurseSubmodules = true
	update = merge
	ignore = untracked

[submodule "dwm"]
	path = dwm
	url = http://git.suckless.org/dwm
	fetchRecurseSubmodules = true
	update = checkout
