# -*- conf -*-

[submodule "emacs"]
	path = emacs
	url = https://github.com/Ferk/emacs.d.git
	branch = .
	update = rebase
	ignore = all
	fetchRecurseSubmodules = true


[submodule "vimfiles"]
	path = vim
	url = https://github.com/Ferk/vimfiles.git
	branch = .
	update = rebase
	ignore = all
	fetchRecurseSubmodules = true

[submodule "dwm"]
	path = dwm
	url = http://git.suckless.org/dwm
	branch = .
	update = rebase
	fetchRecurseSubmodules = true
