[Desktop Entry]
Type=Application
Name=sxiv
GenericName=Image Viewer (desktop file modified to open all the images in the directory)
Exec=sh -c "function iv() { /usr/bin/sxiv $@ $(dirname '$1')/*; }; iv %F"
MimeType=image/bmp;image/gif;image/jpeg;image/jpg;image/png;image/tiff;image/x-bmp;
NoDisplay=true
