[Desktop Entry]
Name=Browser
Type=Application
Exec=browser %U
Icon=Internet
Categories=Network;WebBrowser;
Comment=Default browser (from the "BROWSER" environment variable)
MimeType=x-scheme-handler/unknown;x-scheme-handler/about;text/html;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
