[Unit]
Description=Run graphical server via startx (no display manager)
After=systemd-user-sessions.service

[Service]
ExecStart=/bin/su %i -l -c "/bin/sh --login -c exec xinit"
Restart=on-abort
WorkingDirectory=/home/%i

[Install]
Alias=display-manager.service
